{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="{% static 'users/r1.css' %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/united/bootstrap.min.css"
  integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous" />
  
  <style>
    body {
      background-color: #e2744c;
    }
  </style>
  </head>

  <body>
    {% block content %}
    {% endblock content %}

  
  </body>
</html>
